.navbar {
    color: dodgerblue;
    border: 2px dashed white;
    display: flex;
    flex-wrap: wrap;
}

.navlink {
    /* border: 2px dashed yellow; */
    cursor: pointer;
    margin: 0px 5px;
}
    .navlink:hover {
        color: limegreen;
    }